!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %title FancyPants
    = stylesheet_link_tag '<%= file_name %>'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js", "fancypants"
  %body
    #flashMessage.alert
      .message
        This is a flash message with the "alert" class. Can be changed to scroll, or sit inline.  jQuery will fade this out after 10 seconds.
      #close
        x
    #wrapper
      #top-bar.tabs
        #top-bar-inner
          %a{:href=>"/"}
            #logo
              FancyPants
          .tagline
            is a theme.
          #nav
            %a{:href=>"/"} Home
            %a{:href=>"/basics"} Basics
            %a{:href=>"/"} Contact
          #tabs
            #primary-nav
              %ul
                %li
                  %a
                    Some Page
                %li.active
                  %a
                    Active
                %li
                  %a
                    Articles
            #secondary-nav
              %ul
                %li
                  %a{:href=>"#"} Profile
                %li  
                  %a{:href=>"#"} Settings
                %li  
                  %a{:href=>"#"} Logout
              
      #content
        #main
          = '<%= yield %>'